<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Mountains-1412683.svg/1280px-Mountains-1412683.svg.png");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover
    }

    table {
      
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      text-align: left;
      padding: 8px;
    }

    tr {
      background-color: #f2f2f2
    }

    th {
      background-color: #2804aa;
      color: white;
    }
  </style>
</head>

<body>
    {{>header}}
    <p></p>
  <table style="width:100%" border="3">
    <tr>


       <th>Name</th>
       <th>Phone No.</th>
      <th> From</th>
      <th>To</th>
      <th>Time</th>
      <th>Number of people</th>
      
      <th>Preferred Mode</th>
      
    </tr>
         {{#each selected }}
        <tr>  
            {{!-- {{#if this.time=="13:25" then}} --}}
            <td> {{this.name}}</td>
       <td> {{this.phone_no}}</td>
     <td> {{this.source}}</td>
     <td> {{this.destination}}</td>
      <td> {{this.time}}</td>
     <td> {{this.count}}</td>
     <td> {{this.preferred_mode}}</td>
     </tr>
     {{!-- {{/if}}
     --}}
      {{/each}}
     
    </tr> 

  </table>
     
</body>

</html>